#productMainDiv {
  padding-top: 120px;
}
#productMainDiv > div:nth-child(1) > h1 {
  font-size: 45px;
}
#productMainDiv > div:nth-child(1) > p {
  font-size: 16px;
}
#productMainDiv > div:nth-child(1) {
  padding-left: 70px;
  padding-right: 70px;
}
#productMainDiv > div:nth-child(2) {
  display: flex;
  margin-top: 60px;
  padding-left: 70px;
  padding-right: 70px;
}
#productMainDiv > div:nth-child(2) > div:nth-child(1) {
  flex-basis: 30%;
}
#productMainDiv > div:nth-child(2) > div:nth-child(2) {
  flex-basis: 70%;
}
#productsDisplayDiv > div:nth-child(1) {
  height: 45px;
}
#productsDisplayDiv > div:nth-child(1) > input {
  width: 99%;
  height: 40px;
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
  font-size: 15px;
}
#productsDisplayDiv > div:nth-child(1) > input:focus {
  border-bottom: 2px solid black;
}
#productsDisplayDiv > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  font-weight: bold;
}
#productsDisplayDiv > div:nth-child(2) > div:nth-child(2) > select {
  width: 120px;
  height: 35px;
  outline: none;
  border: none;
  padding: 5px;
}
#productsDisplayDiv > div:nth-child(2) > div:nth-child(2) > select > option {
  border: none;
  padding: 5px;
  height: 50px;
}
#productsDisplayDiv > div:nth-child(2) > div:nth-child(2) > select:hover {
  background-color: rgba(61, 61, 61, 0.123);
  border-radius: 20px;
}
#categoriesDiv {
  padding-right: 40px;
  box-sizing: border-box;
}
#categoriesDiv > p {
  font-size: 16px;
  color: #5f6163;
  cursor: pointer;
}
#categoriesDiv > p:hover {
  color: black;
}
#categoriesDiv > div > p > input {
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
}
#categoriesDiv div:nth-child(1) {
  margin-bottom: 10px;
  background-color: red;
}
.backgroundProductsDiv {
  border-radius: 10px;
  color: white;
  vertical-align: bottom;
  background-color: black;
}
.backgroundProductsDiv:hover {
  filter: drop-shadow(0 0 10px rgba(75, 75, 75, 0.425));
}
.backgroundProductsDiv > h1 {
  margin: 0;
  padding-left: 10px;
}
#productsContainer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 10px;
}
#productsContainer > div {
  margin-bottom: 20px;
}
#productsContainer > div > p {
  width: 210px;
  margin: 0;
}
.makeBottom {
  padding-top: 95px;
  font-size: 30px;
}
.makeBig {
  font-size: 50px;
}
#footer {
  height: 460px;
  background-color: black;
  margin-top: 80px;
  color: white;
  padding: 50px;
}
#footer > div:nth-child(1) {
  display: flex;
  margin-bottom: 40px;
}
#footer > div:nth-child(1) > div {
  flex-basis: 25%;
}
#footer > div:nth-child(1) > div > img {
  width: 90px;
}
@media screen and (max-width: 1250px) {
  #productsContainer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 10px;
  }
}
@media screen and (max-width: 1050px) {
  #categoriesDiv {
    display: none;
  }
  #productMainDiv > div:nth-child(2) > div:nth-child(2) {
    flex-basis: 100%;
  }
  #moreDetailsDiv {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  #productsContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
  }
  #productMainDiv > div:nth-child(2) {
    padding-left: 40px;
    padding-right: 40px;
  }
  #footer > div:nth-child(1) {
    display: flex;
    flex-direction: column;
  }
  #footer {
    height: 1100px;
  }
}
